.containerMessage {
  display: flex;
  flex-direction: column;
}

.headerMessage {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 74px;
  background-color: white;
  padding-left: 20px;
}

.contentMessage {
  background-color: antiquewhite;
  height: calc(100vh - 74px - 70px);
  overflow-y: auto;
  background-image: url("../../assets/background.jpeg");
  background-size: cover;
  /* Phủ toàn bộ mà vẫn giữ tỷ lệ ảnh */
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.send-message {
  display: flex;
  overflow-y: auto;
  background-color: antiquewhite;
}

.control {
  display: flex;
  gap: 10px;
  padding-left: 20px;
  padding-top: 10px;
}
.inputMSG{
  width: 700px;
}

/* Mỗi tin nhắn */
.message {
  max-width: 100%;
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 5px;
  word-break: break-word;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Tin nhắn gửi đi */
.message.sent {
  align-self: flex-end;
  background-color: #dcf8c6;
  text-align: right;
}

/* Tin nhắn nhận được */
.message.received {
  align-self: flex-start;
  background-color: #ed9393;
  text-align: left;
}

/* Style cho văn bản tin nhắn */
.messageText {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

/* Style cho hình ảnh tin nhắn */
.messageImage,
.messageVideo {
  max-width: 100%;
  width: 200px;
  height: 300px;
  margin-top: 5px;
  border-radius: 10px;
  object-fit: cover;
}

/* Thời gian gửi tin nhắn */
.messageTime {
  font-size: 10px;
  color: #666;
  margin-top: 4px;
  align-self: flex-end;
  /* Hiển thị bên dưới, căn phải */
}


/* ------------ CSS CHO PREVIEW ------------- */

.spin{
  position: absolute;
  top: 150px;
  left: 150px;
}

.previewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 150px;
  left: 600px;
  width: 300px;
  height: 300px;
}

.previewItem {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.image-preview,
.video-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Nút xóa file */
.removeFileBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}