.sidebar{
  display: flex;
  width: 100%;
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: rgb(70, 70, 71);
  padding: 10px
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.sidebar-left .block-two {
  padding-bottom: 30px;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
}

.block-bottom {
  height: 100%;
}

.no-users {
  margin-top: 3rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  color: #64748b;
}

.messageSidebar {
  font-size: 1.125rem;
  text-align: center;
  color: #94a3b8;
}