.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}